$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "colors";
@import "featherlight";
@import "featherlight.gallery.min";
// endbower

//Variables
$imgDir: "../images/";

// $icons: house-building-service,front-service,office-service,design-service,project-service;
 

 // functions


  .services__info svg { 
    width: 140px;
    height: 140px;
    float: left;
    background: #CCE6FF;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    box-shadow: 0 3px 1px #333;
    border: 20px solid transparent;
    }   
 // functions
 


 //Variables 
// 


// global
.container img{
    max-width: 100%;
}
h1, .h1, h2, .h2, h3, .h3 {
margin-top: 1.5em;
margin-bottom: 1.5em;
}
body{
    // background: url(#{$imgDir}greyzz.png);
}
// global

// header
//
.btn {
    padding: 12px 24px;
    font-size: 1.3em;
}

.header {
    position: relative;
    background: #cff19a;
    padding-top: 5em;
    padding-bottom: 300px;
    margin-bottom: -300px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 2.5em;
    width: 15%;
    margin-left: -5%;
}

.logo svg{
    fill: #FFFFFF;
}

.phone--wrapper {
    background: url(#{$imgDir}telephone.svg) no-repeat;
    padding-left: 5em;
    float: right;
    margin-bottom: 8em;
}

.phone--one, .phone--two {
    color: #FFF;
    font-size: 1.4em;
}

// end header

// carousel 
.carousel--container {
    margin-bottom: 4em;
    box-shadow: 0 40px 60px -30px #333333;
}

.form--inner {
    z-index: 100;
    position: absolute;
    left: 70%;
    top: 35%;
    margin-top: -6.5%;
    padding: 2em;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background : -moz-linear-gradient(0% 50% 0deg,rgba(207, 241, 154, 1) 0%,rgba(126, 184, 48, 1) 100%);
    background : -webkit-linear-gradient(0deg, rgba(207, 241, 154, 1) 0%, rgba(126, 184, 48, 1) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(207, 241, 154, 1) ),color-stop(1,rgba(126, 184, 48, 1) ));
    background : -o-linear-gradient(0deg, rgba(207, 241, 154, 1) 0%, rgba(126, 184, 48, 1) 100%);
    background : -ms-linear-gradient(0deg, rgba(207, 241, 154, 1) 0%, rgba(126, 184, 48, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CFF19A', endColorstr='#7EB830' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(207, 241, 154, 1) 0%, rgba(126, 184, 48, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CFF19A',endColorstr='#7EB830' , GradientType=1);

    
}
input {
        display: block;
    }
    .form__name, .form__email, .form__phone {
        padding: 5px;
        padding-left: 25px;
        margin-bottom: 1em;
        background: #fff url(#{$imgDir}contact.png) no-repeat 2px 50%;
    }
    .form__email {
        background: #fff url(#{$imgDir}mail.png) no-repeat 2px 50%;
    }
    .form__phone {
        background: #fff url(#{$imgDir}phone.png) no-repeat 2px 50%;
        margin-bottom: 0;
    }
    .form__submit {
        position: absolute;
        bottom: -50%;
        left: 50%;
        color: #FFF;
        margin-left: -40%;
        background: transparent;
        text-shadow: 0px 1px 1px #000;
        border: 3px solid #ff8e54;
        -webkit-transition: all 0.5s ease-in-out;
           -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
             -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
        background-image: -moz-linear-gradient(90deg, rgb(102, 150, 51) 0%, rgb(154, 186, 101) 100%);
        background-image: -webkit-linear-gradient(90deg, rgb(102, 150, 51) 0%, rgb(154, 186, 101) 100%);
        background-image: -ms-linear-gradient(90deg, rgb(102, 150, 51) 0%, rgb(154, 186, 101) 100%);
        -webkit-box-shadow: 0 0 3px #333;
        box-shadow: 0 0 3px #333;
        &:hover {
            background: #ff8e54;
            text-shadow: 0px 1px 1px #FFF;
        }
    }

.carousel-control{
    background: none !important;
    &:hover{
        @extend .carousel-control;
    }
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right{
    right: 25%;
}
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left{
    left: 25%;
}
.carousel-caption {
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    text-shadow: 0 1px 1px #333;
}

.caption--head {
    position: absolute;
    top: 2%;
    left: 20%;
    right: 20%;
}

.caption--info--wrapper {
    position: absolute;
    left: 10%;
    right: auto;
    top: 25%;
}

.caption--info {
    max-width: 100%;
    margin-bottom: 1.4em;
    padding-left: 2.5em;
    font-size: 1.3em;
    background: url(#{$imgDir}check-mark.svg) no-repeat 2px 50%;
    text-align: left;
}

// carousel

// services
.services-wrapper {
    padding: 0 0 3em 0;
    background: url(#{$imgDir}cream_dust.png);
}

.services-head {
    text-align: center;
    line-height: 1.5em;
    font-size: 2em;
    text-shadow: 0 1px 1px #858585;
}

.services__info {
    text-align: center;
    line-height: 1.5em;
    padding: 1em;
    border: 5px solid white;
    -webkit-box-shadow: 1px 1px 3px #333;
            box-shadow: 1px 1px 3px #333;
    color: #333;
    background: #f4f4f4;
    border-radius: 15px;
    p{
        padding-left: 8em;
        padding-top: 2em;
        font-size: 1.3em;
        text-shadow: 0 1px 1px #9C9C9C;
    }
}


// services

// reasons
.reason-wrapper {
    background: #fff689;
    padding: 3em 0 3em 0;
    box-shadow: 0 -1px 3px #333;
}

.reason-wrapper > .row {
    margin-bottom: 2.5em;
    
}

.reason__head {
    @extend .services-head;
    font-size: 2em;
    text-shadow: 0 1px 1px #858585;
}

// .reason__sign {
//     max-width: 33.33%;
//     float: left;
// }

.sign__img {
    margin: 1.5em auto;
    font-size: 1.3em;
    padding: 35px;
    width: 140px;
    height: 140px;
    -webkit-border-radius: 50%;
    box-shadow: 0 3px 1px #333, 0px 0px 15px #FFF, 0px 0px 15px #FFF,0px 0px 15px #FFF,0px 0px 15px #FFF,0px 0px 15px #FFF;
}
.sign__img svg{
    fill: #780a3e;
}
.sign__info {
    text-align: center;
}

// reasons

// form--cta

.form--cta {
    min-height: 480px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.form__info {
    position: absolute;
    width: 100%;
    height: 5em;
    background: rgba(0, 0, 0, 0.5);
    background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(78, 78, 78, 0.5) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(78, 78, 78, 0.5) 100%);
    background-image: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(78, 78, 78, 0.5) 100%);
    top: 25%;
    bottom: 20%;
    text-align: center;
    font-size: 3em;
    color: #ff8e54;
    line-height: 5em;
    text-shadow: 1px 1px 5px #000;
    &:after {
        position: absolute;
        top: 65%;
        left: 50%;
        content: "";
        width: 10em;
        height: 1px;
        margin-left: -5em;
        background: rgba(255, 255, 255, 0.5);
        -webkit-box-shadow: 0 0 3px #FFF;
        box-shadow: 0 0 3px #FFF;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
}

.fogg {
    background: url(../images/autumn_railway-wallpaper-1920x1080.JPG);
    width: 100%;
    height: 100%;
    position: absolute;
}

.form--wide .form--inner{

    @extend .form--inner;
    top: 42.5%;
    margin-top: -4.5%;
    left: 75%;
}

// form--cta
// works

.works--wrapper .thumbnail{
    display: block;
    padding: 0;
    margin-bottom: 20px;
    line-height: 1.42857;
    border: 4px solid transparent;
    background: transparent;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}
.works--wrapper a.thumbnail:hover, .works--wrapper a.thumbnail:focus, .works--wrapper a.thumbnail.active{
    border-color: #FFF;
}

.works--wrapper{
    @extend.reason-wrapper;
    background: #CFF19A;
}
.works--head{
    @extend .services-head;
}

// works

// how we work
.how--wrapper{
    @extend.reason-wrapper;
    background: #80ACE0;
}


.how--head{
    @extend .services-head;
    color: #FFF;
    text-shadow: 0 1px 1px #000;
}
.how__step{
    float: left;
    width: 20%;
    img{
        max-width: 100%;
    }
}
.step__sign {
    width: 170px;
    margin: 0 auto;
    height: 170px;
}
.step__sign svg{ fill: #FCEF53;}

.step__info {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.5em;
    text-shadow: 0px 1px 1px #fff;
}
.how__step img {
    height: 170px;
}
// how we work

//customers 
.customer--wrapper{
    @extend.reason-wrapper;
    background: url(#{$imgDir}geometry.png);
    
}

.customer--head{
    @extend .services-head;
    font-size: 2em;
    text-shadow: 0 1px 1px #858585;
}
.customer--wrapper img{
    width: 30%;
    float: left;
}
.customer--wrapper .caption{
    float: left;
    font-size: 1.3em;
    padding: 1em;
    text-align: center;
    width: 70%;
}

//customers 

// partners
.partners--wrapper{
    background: url(#{$imgDir}cream_dust.png);

    .media{
        @extend .services__info;
        margin-top: 15px;
        
    }
    @extend.reason-wrapper;
    img{
        width: 100%;
        height: 120px;
    }
    .media-heading{
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
.partners--head{
    @extend .services-head;
    font-size: 2em;
    text-shadow: 0 1px 1px #858585;
}


// partners

//footer

.footer--wrapper{
    z-index: -1;
        position: relative;
    background: #7eb830;
    padding-bottom: 5em;
    .logo{
        top: auto;
        bottom: 5%;
    }
    .phone--wrapper{
        margin-top: 5em;
        margin-bottom: 0;
        
    }
    .date{
        float: left;
        margin-top: 5em;
        font-size: 1.3em;
        color: #fff;
    }
}

//footer



// responsive
@media screen and (max-width: 1200px) {
    .carousel--container .form--inner{
        left: 65%;
    }
    .form--wide .form--inner{
        top: 38.5%;
    }
}
@media screen and (max-width: 1100px) {
    .form--wide .form--inner{
        margin-top: -5%;
        left: 70%;
    }
    .form__info{
        text-align: left;
        padding-left: 1em;
        
    }

    .form__info:after{
        left: 0;
        margin-left: 1em;
    }
    .step__info{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 992px) {
    .header {
    padding-bottom: 130px;
    margin-bottom: -180px;
    }
    .btn {
        padding: 6px 12px;
    }
    .form__submit{
        margin-left: -50%;
        bottom: -40%;
    }
    .caption--head{
        margin-top: 0;
    }
    .carousel--container .form--inner{
        left: 70%;
    }
    .form--wide .form--inner{
        margin-top: -5%;
        left: 65%;
    }
    .form--inner, .form--wide .form--inner{
        padding: 1em;
    }
    .form--inner input{
        max-width: 150px;
    }
    .services__info p, .partners--wrapper .media p{
        padding-top: 4em;
    }
    .sign__info{
        font-size: 1.3em;
    }
    .step__sign{
        width: 130px;
        height: 130px;
    }

    .footer--wrapper .logo {
        bottom: 15%;
    }
    .phone--one, .phone--two{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 768px) {
    .form--wide .form--inner{
        left: 60%;
    }
    .footer--wrapper .logo{
        bottom: 35%;
    }
    .step__info{
        font-size: 1em;
    }
    .form__info{
        height: 8em;
        line-height: 8em;
        font-size: 2em;
        
    }
    .form__info:after{
        top: 60%;
    }
    .customer--wrapper img{
        width: 100%;
        float: none;
    }

    .customer--wrapper .caption{
        width: 100%;
        float: none;
    }
    .services__info p, .partners--wrapper .media p, .partners--wrapper .media p{
        padding-top: 3em;
    }
    .corousel__form--outer{
        display: none;
    }
}
@media screen and (max-width: 670px) {
    .caption--info{
        font-size: 1em;
    }
    h2, .h2 {
        font-size: 1.5em;
    }
    .form--wide .form--inner{
        left: 55%;
    }
    .step__sign{
        width: 100px;
        height: 100px;
        
    }
    .phone--one, .phone--two{
        font-size: 1em;
    }
    .form--inner, .form--wide .form--inner{
        padding: 1.5em;
    }
    .btn{
        padding: 6px 12px;
    }
    .form__submit{
        margin-left: -47%;
        bottom: -35%;
    }
    .footer--wrapper .date{
        font-size: 1em;
    }
}

@media screen and (max-width: 550px) {
    .logo{
        top: 3.5em;
    }
    .caption--info--wrapper{
        left: 5%;
    }
    .form__info{
        height: 11em;
        line-height: 11em;
        font-size: 1.5em;
    }
    .step__sign{
        width: 80px;
        height: 80px;
        
    }
    .caption--info {
        padding-left: 1.5em;
    }
    .form--inner, .form--wide .form--inner{
        padding: 0.5em;
    }
    .btn {
        padding: 3px 6px;
    }
    .form__name, .form__email, .form__phone{
        padding: 0 0 0 30px;
        
    }
    .form__submit{
        bottom: -50%;
        margin-left: -50%;
    }
    .form__info{
        line-height: 9em;
    }
    .form__info:after {
        top: 50%;
    }
    .carousel--container .form--inner{
        left: 50%;
    }
    .phone--wrapper{
        padding-left: 3em;
    }
}
@media screen and (max-width: 500px) {
    .carousel--container .form--inner{
        
    }
    .form__submit{
        margin-left: -45%;
    }
    .form--wide .form--inner{
        left: 60%;
    }
    .btn {
        font-size: 1em;
    }
    .step__info{
        font-size: 0.7em;
    }
}
@media screen and (max-width: 450px) {
    .carousel--container .form--inner{
        left: 55%;
    }
    .form--wide .form--inner{
        left: 58%;
    }
    .step__sign{
        width: 60px;
        height: 60px;
    }
    .form--inner input, .form--wide .form--inner input{
        max-width: 130px;
    }

}

@media screen and (max-width: 400px) {

    .caption--head{
        font-size: 1em;
        
    }
    .caption--info{
        font-size: 0.7em;
    }
    .carousel--container .form--inner {
        top: 30%;
    }
    .phone--wrapper{
        margin-bottom: 5em;
    }
    .form--wide .form--inner{
        top: 36.5%;
    }
    .form__info{
        font-size: 1em;
        height: 13em;
        line-height: 11;
    }
    .form--wide .form--inner{
        left: 52%;
    }
    .form__submit{
        margin-left: -45%;
        bottom: -35%;
    }
    .phone--one, .phone--two{
        font-size: 0.7em;
    }
    .footer--wrapper .phone--wrapper{
        margin-top: 3em;
    }
    .footer--wrapper .date{
        margin-top: 3em;
    }
    .footer--wrapper{
        padding-bottom: 2em;
    }

}

@media screen and (max-width: 320px) {
    .form--inner input, .form--wide .form--inner input, .form--wide .form--inner input{
        max-width: 95px;
    }
    .header{
        padding-top: 3em;
    }
    .carousel--container .form--inner{
        left: 60%;
    }
    .logo{
        top: 2.5em;
    }
    .step__sign {
    width: 45px;
    height: 45px;
    }
    .step__info {
    font-size: 0.5em;
    }
    .form--wide .form--inner{
        left: 60%;
    }
    .form--inner input, .form--wide .form--inner input, .form--wide .form--inner input{
        font-size: 0.7em;
    }
    .btn{
        font-size: 0.7em;
    }
    .form__submit{
        bottom: -35%;
        margin-left: -45%;
    }

    .phone--one, .phone--two{
        font-size: 0.6em;
    }
    .reason-wrapper, .works--wrapper, .how--wrapper, .customer--wrapper, .partners--wrapper{
        padding: 2em 0 2em 0;
    }

}
// responsive